@page "/createUrl"
@using MiniLink.Shared
@inject HttpClient Http


<h3>Create a url</h3>

@if (!created) 
{
    <h5 class="alert-danger">@message</h5>
}
else
{
<div class="alert alert-success text-break"><p>Here is your minimized url: <a href="@message">@message</a></p></div>
}

<EditForm Model="createModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="input-group">
        
        <InputText id="url" @bind-Value="createModel.URL" class="form-control" />
        
        <div class="input-group-append">
            <button class="btn btn-success" type="submit"> <span class="oi oi-plus" aria-hidden="true"></span></button>
        </div>
    </div>
</EditForm>



@code {
    private bool created = false;

    private string message = string.Empty;

    private CreateLinkDTO createModel = new CreateLinkDTO();
    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync<CreateLinkDTO>("Link", createModel);

        if (response.IsSuccessStatusCode)
        {
            var entry = await response.Content.ReadFromJsonAsync<string>();

            created = true;

            message = entry;

            this.StateHasChanged();

        }
        else
        {
            created = false;

            message = "Something went wrong";

            this.StateHasChanged();
        }

    }
}
